@import './vars.css';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
}